<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>20-ribbeter</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/dist/app.css" media="screen" title="no title">
  </head>
  <body>
  <div class="section">
    <nav class="top__nav">
      <div class="top__nav-title">
        <p>Ribbeter</p>
      </div>
      <div class="top__nav-items">
        <p><a href="#"></a>Ribbets</p>
        <p><a href="#"></a>Frogs</p>
        <p><a href="#"></a>Login</p>
      </div>
    </nav>



  </div>

    {% block name %}

    {% endblock %}

  </body>
</html>
