{% extends "layout" %}

{% block content %}

{{ form.open({action: 'UserController.store'}) }}

{{ csrfField }}


<div class="form">

    <div class="login">
      <h1>Create an Account</h1>
    </div>
    <div class="content">

      <div class="field">
        {{ form.label ('username', 'username') }}
        {{ form.text ('unsername', null, {class: 'form-control', placeholder: 'Username'}) }}
      </div>
      <div class="field">
        {{ form.label('email', 'Email') }}
        {{ form.text('email', null, { class: 'form-control', placeholder: 'Email' }) }}
      </div>

      <div class="field">
        {{ form.label('password', 'Password') }}
        {{ form.password('password', null, { class: 'form-control', placeholder: 'Password' }) }}
      </div>
      <div class="button">
        <a href="/register" class="btn__register">Register</a>
        {{ form.submit('Login', null, {class: 'btn__submit' }) }}
      </div>


  </div>
</div>

{{ form.close() }}



{% endblock %}
