{% extends "layout" %}

{% block content %}
    <h3 class="users">Users</h3>

        <div class="grid">
          {% for item in users%}
          <div class="card">

            <div class="grid__item">
              <img src="http://fillmurray.com/100/100" alt="" />
              <div class="grid__text">
                <p class="grid__title">{{ item.username }}</p>
                <p class="grid__subtitle">${{ item.username }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
  {% endblock %}
