
$c-primary: #96ca2d;
$c-light: #b5e655;
$c-secondary: #4bb5c1;
$c-secondary-light: #7FC6BC;
$c-white: #edf7f2;
$c-pure-white: #fff;
$c-danger: #de6363;
$m-gutter: 1rem;
$m-max-width: 60rem;
$box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

$font: 'Dosis', sans-serif;

// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'nav.scss';

body {
  margin: 0 auto;
  background: $c-white;
  font-family: 'Dosis', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $c-pure-white;
}

.page {
  display: flex;
  flex-direction: column;
}



.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 2rem auto 0;
  background: $c-pure-white;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);
  font: $font;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.login {
  background: $c-primary;
  color: $c-pure-white;
  padding: 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  border: 0;
  font-size: 1.25rem;
}

.button {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}


.btn__register {
  color: $c-secondary;
  background: $c-white;
  // border: 1px solid $c-secondary-light;
  padding: 0.5rem;

}

.btn__submit {
  border: none;
  background: $c-primary;
  color: $c-pure-white;
  padding: 0.5rem;

}

input {
  border: none;
  border-bottom: 0.1rem solid $c-secondary;
  font-size: 1rem;
}

.alert {
  display: flex;
  justify-content: center;
  background-color: $c-danger;
  color: $c-pure-white;
}
